@font-face {
  font-family: Night in Tokyo;
  src: url(fonts/NightinTokyo-Bold.ttf);
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
  }

  section {
    height: 80vh;
    display: grid;
    justify-content: center;
    align-items: start;
    font-size: 30px;
    background: #eee;
    padding-top: 25px;
    justify-items: center;
  }
  section img {
    width: 1000px;
  }
  section p {
    font-weight: none;
    font-size: 20px;
    padding-left: 20%;
    padding-right: 20%;
  }
  section h2 {
    font-weight: bolder;
    font-size: 30px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #950606;
    font-family: Night in Tokyo;
  }
  #third {
    height: 200%;
    align-content: center;
  }
  #fourth {
    height: 20vh;
  }
